PORT=8000
MONGODB_URI=mongodb+srv://Tejas:Tejas%402005@cluster0.6zk1h2t.mongodb.net  
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDNINARY_CLOUD_NAME=
CLOUDNINARY_API_KEY=
CLOUDNINARY_API_SECRATE=